<a href="https://colab.research.google.com/github/beejaycares/Final-Project/blob/main/IBM_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DATA WRANGLING, CLEANING, AND EXPLORATION FOR DASHBOARDING**

In [1]:
#Import required libraries
import pandas as pd
import numpy as np

In [2]:
#Load the data
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m5_survey_data_technologies_normalised.csv'
df_nt = pd.read_csv(url)
df_nt.head()

,Respondent,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,C,C,MySQL,MySQL,Linux,Linux,NaN,NaN,Eclipse,NaN,NaN,NaN,NaN
2,4.0,C++,C#,SQLite,SQLite,Windows,Windows,NaN,NaN,Vim,NaN,NaN,NaN,NaN
3,4.0,C#,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,NaN,NaN
4,4.0,Python,SQL,NaN,NaN,NaN,NaN,NaN,NaN,Visual Studio Code,NaN,NaN,NaN,NaN

In [4]:
# Do not use the who dataset, extract the needed columns and clean it for further work
df_seg = df_nt[['LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
                'DatabaseDesireNextYear', 'PlatformWorkedWith', 'PlatformDesireNextYear',
                'WebFrameWorkedWith', 'WebFrameDesireNextYear']]

df_lang=df_seg[['LanguageWorkedWith', 'LanguageDesireNextYear']]
df_db = df_seg[['DatabaseWorkedWith', 'DatabaseDesireNextYear']]
df_pt = df_seg[['PlatformWorkedWith', 'PlatformDesireNextYear']]
df_wf = df_seg[['WebFrameWorkedWith', 'WebFrameDesireNextYear']]

In [16]:
# The selected columns were separated for the purpose of avoiding dropping of many relevant rows.
# Nan of some columns will be treated using the frequency method while some will be trimmed
# Given the large number of nulls in the dataset, it will be inappropriate to fill them up with the most frequent language worked with
# In fact the most frequent language worked with has a frequency count of 8687 while the nulls is about 15000
df_lang['LanguageWorkedWith'].value_counts()
nan = df_lang.isnull().sum()
nan

LanguageWorkedWith        14798
LanguageDesireNextYear    18826
dtype: int64

In [78]:
df_lang['LanguageWorkedWith'].value_counts()

LanguageWorkedWith
HTML/CSS                 7263
JavaScript               7198
Bash/Shell/PowerShell    4598
SQL                      4340
C#                       4103
Java                     3901
Python                   3093
PHP                      2069
C++                      1850
TypeScript               1654
C                        1537
Go                       1025
Ruby                      727
Kotlin                    510
Assembly                  432
Other(s):                 396
R                         365
Objective-C               345
Swift                     312
Scala                     256
VBA                       248
Dart                      222
Elixir                    180
Clojure                   150
F#                        146
Rust                      144
Erlang                     86
WebAssembly                48
Name: count, dtype: int64

In [19]:
#therefore, triming method will be adopted in this regard
df_lang=df_lang.dropna()
df_lang.shape
# to double-check if there are still nulls
df_lang.isnull().sum()

LanguageWorkedWith        0
LanguageDesireNextYear    0
dtype: int64

In [21]:
# So this can be now be saved to csv for dashboarding
df_lang.to_csv('programming_language.csv')

In [23]:
# let repeat this for database worked with and desire to work with next year
df_db.isnull().sum()

DatabaseWorkedWith        43215
DatabaseDesireNextYear    45015
dtype: int64

In [25]:
# This also shows that the most frequency filling method will not be appropriate therefore we drop nulls
df_db = df_db.dropna()
df_db.shape

(23382, 2)

In [26]:
#lets check the nulls again
df_db.isnull().sum()

DatabaseWorkedWith        0
DatabaseDesireNextYear    0
dtype: int64

In [36]:
df_db.to_csv('database_engine.csv')

In [27]:
# we work on the platform respondents worked with
df_pt.isnull().sum()

PlatformWorkedWith        35382
PlatformDesireNextYear    30276
dtype: int64

In [34]:
inplace = True
df_pt = df_pt.dropna()

In [35]:
df_pt.shape

(33119, 2)

In [38]:
df_pt.to_csv('platform_data.csv')

In [42]:
# we repeat it for the last section

df_wf.isnull().sum()

df_wf=df_wf.dropna()
df_wf.shape

(18740, 2)

In [43]:
df_wf.to_csv('webframe.csv')

## **DEMOGRAPHICS DATASET WRANGLING AND CLEANING**

In [46]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m5_survey_data_demographics.csv'
df = pd.read_csv(url)
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat', 'BetterLife',
       'ITperson', 'OffOn', 'SocialMedia', 'Extraversion', 'ScreenName',
       'SOVisit1st', 'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [50]:
df_sel = df[['Respondent', 'Country', 'Age', 'Gender', 'EdLevel', 'YearsCode', 'YearsCodePro', 'LastHireDate']]
df_sel

,Respondent,Country,Age,Gender,EdLevel,YearsCode,YearsCodePro,LastHireDate
0,4,United States,22.0,Man,"Bachelor’s degree (BA, BS, B.Eng., etc.)",3,Less than 1 year,Less than a year ago
1,9,New Zealand,23.0,Man,Some college/university study without earning ...,12,4,Less than a year ago
2,13,United States,28.0,Man,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",17,8,3-4 years ago
3,16,United Kingdom,26.0,Man,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",10,3,3-4 years ago
4,17,Australia,29.0,Man,"Bachelor’s degree (BA, BS, B.Eng., etc.)",5,2,Less than a year ago
...,...,...,...,...,...,...,...,...
11393,25136,United States,36.0,Man,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",20,14,More than 4 years ago
11394,25137,Poland,25.0,Man,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",8,3,3-4 years ago
11395,25138,United States,34.0,Man,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",17,7,Less than a year ago
11396,25141,Switzerland,25.0,Man,"Secondary school (e.g. American high school, G...",10,8,3-4 years ago
11397,25142,United Kingdom,30.0,Man,"Other doctoral degree (Ph.D, Ed.D., etc.)",24,8,NA - I am an independent contractor or self em...

In [51]:
df_sel.isnull().sum()

Respondent        0
Country           0
Age             287
Gender           73
EdLevel         112
YearsCode         9
YearsCodePro     16
LastHireDate      0
dtype: int64

In [80]:
df_sel[['Age']].value_counts().head()

Age
28.0    787
25.0    738
27.0    722
26.0    722
29.0    697
Name: count, dtype: int64

In [64]:
#this is to fill the nulls in age with the mean age
df_sel['Age'].fillna(df['Age'].mean(), inplace=True)

<ipython-input-64-7707aafdf8a1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['Age'].fillna(df['Age'].mean(), inplace=True)

In [65]:
#this is to check if there are still nulls
df_sel['Age'].isnull().sum()

0

In [67]:
# this is fill gender nulls. Lets check the most frequent gender and fill it up
df_sel['Gender'].value_counts()
df_sel['Gender'].fillna('Man', inplace=True)

<ipython-input-67-57ef461b0001>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['Gender'].fillna('Man', inplace=True)

In [68]:
# Confirm if the nulls has been removed
df_sel.isnull().sum()

Respondent        0
Country           0
Age               0
Gender            0
EdLevel         112
YearsCode         9
YearsCodePro     16
LastHireDate      0
dtype: int64

In [71]:
# Filling for EdLevel nulls
df_sel['EdLevel'].value_counts()
df_sel['EdLevel'].fillna('Bachelor’s degree (BA, BS, B.Eng., etc.)', inplace=True)
df_sel.isnull().sum()

<ipython-input-71-d65669fdb9c4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sel['EdLevel'].fillna('Bachelor’s degree (BA, BS, B.Eng., etc.)', inplace=True)

Respondent       0
Country          0
Age              0
Gender           0
EdLevel          0
YearsCode        9
YearsCodePro    16
LastHireDate     0
dtype: int64

In [74]:
# Filling for WorkExp
df_sel['LastHireDate'].value_counts()

LastHireDate
Less than a year ago                                    3800
1-2 years ago                                           3378
More than 4 years ago                                   2268
3-4 years ago                                           1891
NA - I am an independent contractor or self employed      44
I've never had a job                                      17
Name: count, dtype: int64

In [76]:
df_sel.isnull().sum()

Respondent       0
Country          0
Age              0
Gender           0
EdLevel          0
YearsCode        9
YearsCodePro    16
LastHireDate     0
dtype: int64

In [77]:
# now lets save this to csv
df_sel.to_csv('demographics_data.csv')